<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.benoitduffez.cupsprint"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="io.github.benoitduffez.cupsprint.CupsPrintApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="io.github.benoitduffez.cupsprint.PrinterMainActivity"
            android:label="@string/title_activity_printer_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.github.benoitduffez.cupsprint.PrinterPrintToActivity"
            android:label="@string/title_activity_printer_print_to"
            android:configChanges="orientation|screenSize" > 
             
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.VIEW" />
				<action android:name="org.androidprinting.intent.action.PRINT"/>
                
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="text/*" />
                <data android:mimeType="application/postscript" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.github.benoitduffez.cupsprint.PrinterPrintDefaultActivity"
            android:label="@string/title_activity_printer_print_default"
			android:configChanges="orientation|screenSize" 
             >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
				<action android:name="org.androidprinting.intent.action.PRINT"/>
                
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="text/*" />
                <data android:mimeType="application/postscript" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.github.benoitduffez.cupsprint.PrinterAddEditActivity"
            android:label="@string/title_activity_printer_add_edit"
			android:configChanges="orientation|screenSize" 
			android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name="io.github.benoitduffez.cupsprint.PrintJobActivity"
            android:label="@string/title_activity_print_job"
			android:configChanges="orientation|screenSize"
			android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="io.github.benoitduffez.cupsprint.PpdGroupsActivity"
            android:label="@string/title_activity_ppd_groups"
			android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name="io.github.benoitduffez.cupsprint.PpdSectionsActivity"
            android:label="@string/title_activity_ppd_sections"
			android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name="io.github.benoitduffez.cupsprint.AboutActivity"
            android:label="@string/title_activity_about"
			android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name="io.github.benoitduffez.cupsprint.MimeTypesActivity"
            android:label="@string/title_activity_mime_types"
			android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name="io.github.benoitduffez.cupsprint.CertificateActivity"
            android:label="@string/title_activity_certificate" 
			android:configChanges="orientation|screenSize" 
			android:windowSoftInputMode="stateHidden" > 
		</activity>>

         <service android:name=".CupsService"
              android:permission="android.permission.BIND_PRINT_SERVICE">
             <intent-filter>
                 <action android:name="android.printservice.PrintService" />
             </intent-filter>
             <meta-data android:name="android.printservice" android:resource="@xml/printservice" />
         </service>

    </application>

</manifest>

