<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="io.github.benoitduffez.cupsprint"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="io.github.benoitduffez.cupsprint.CupsPrintApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <service
            android:name=".printservice.CupsService"
            android:permission="android.permission.BIND_PRINT_SERVICE">
            <intent-filter>
                <action android:name="android.printservice.PrintService"/>
            </intent-filter>
            <meta-data
                android:name="android.printservice"
                android:resource="@xml/printservice"/>
        </service>

        <activity
            android:name=".app.AddPrintersActivity"
            android:exported="true"
            android:label="@string/activity_add_label"/>

        <activity
            android:name=".app.UntrustedCertActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/untrusted_title"
            android:theme="@style/AndroidCupsPrint.AlertDialog"/>

        <activity
            android:name=".app.BasicAuthActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/basic_auth_title"
            android:theme="@style/AndroidCupsPrint.AlertDialog"/>

        <activity
            android:name=".app.HostNotVerifiedActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/host_not_verified_activity_title"
            android:theme="@style/AndroidCupsPrint.AlertDialog"/>

    </application>

</manifest>

